@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --casi-blanco: #FFFBF9;
  --rosa-pastel: #EDD8CE;
  --rosa-oscuro: #CFB89E;
  --azul-gris: #6B6B76;
  --azul-gris-oscuro: #2B2B2F;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-style: normal;
}

img,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*** NAVBAR - TODAS LAS PAGINAS***/

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--azul-gris);
  padding: 15px 0;
  z-index: 10;
}

.nav-container {
  max-width: 80%;
  margin: 0 auto;
}


.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 25px;
  padding: 0 50px;
}

.nav-links li a, .nav-items a{
  color: var(--rosa-pastel);
  text-decoration: none;
  font-size: 0.9em;
  padding: 0 15px;
}

.nav-items .logo, .nav-items .contact-btn {
  font-size: 1em;
}

.nav-items .contact-btn {
  background-color: var(--rosa-oscuro);
  color: var(--azul-gris-oscuro);
  border-radius: 25px;
  padding: 5px 2.5em;
}

.menu-toggle, a.mobil-vr {
  display: none;
}

@media (max-width: 1200px){
  .navbar {
    padding: 15px 0;
  }

  .nav-links {
    gap: 10px;
    padding: 0 15px;
  }

  .nav-links li a, .nav-items a {
    font-size: 0.7em;
    padding: 0 8px;
  }

  .nav-items .logo, .nav-items .contact-btn {
    font-size: 0.7em;
  }

  .nav-items .contact-btn {
    padding: 4px 2em;
}
  
}

@media (max-width: 767px) {
  .menu-toggle {
    display: block;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--rosa-pastel);
    order: 3;
  }

  .solo-desktop {
    display: none;
  }

  .nav-items {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .nav-links {
    display: block;
    flex-direction: column;
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
    background-color: var(--azul-gris);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
  }

  .nav-links.active {
    max-height: 500px;
  }

  .nav-links li {
    width: 100%;
    text-align: center;
  }

  .nav-links li a {
    display: block;
    padding: 15px 0;

  }

  a.mobil-vr {
    display: inline-block;
    margin: 10px auto;
    padding: 8px 3em;

  }

}

/*** HERO SECTION (ESTILOS GENERALES - TODAS LAS PAGINAS)***/

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: var(--casi-blanco);
  text-shadow: 2px 2px 6px var(--azul-gris-oscuro);
}

.hero .subtitulo {
  font-size: 1.5rem;
}

.hero .titulo {
  font-size: 5rem;
  line-height: 1.1;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .hero .titulo {
    font-size: 3rem;
  }

  .hero .subtitulo {
    font-size: 1.1rem;
  }
}

@media (max-width: 767px) {
  .hero .titulo {
    font-size: 1.8rem;
  }

  .hero .subtitulo {
    font-size: 0.8rem;
  }
}

/*** FOOTER - TODAS LA PÁGINAS ***/
footer {
  margin-top: 8rem;
  height: 60px;
  background-color: var(--rosa-oscuro);
  text-align: center;
  align-content: center;
}

/*** INDEX ***/

.new-travel {
  background-image: url('/root/Images/rome.jpg');
}



/*****CALENDARIO******/

.calen {
  background-image: url('/root/Images/paris2.jpg');
}

/*****EXPERIENCIAS******/

.exp { 
  background-image: url('/root/Images/coliseo.jpg');
}

/*****DESTINOS******/

.dest-contenido {
  max-width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.dest {
  background-image: url('/root/Images/grecia.jpg');
}

.dest-contenido-txt {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dest-contenido-txt h1 {
  color: var(--azul-gris)
}

.dest-contenido-txt .tagline{
  font-weight:600;
}

.dest-galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.dest-img {
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.dest-name {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: var(--rosa-pastel);
  font-size: 1.6rem;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

@media (max-width: 767px) {
  .dest-name {
    font-size: 1rem;
  }
}


/*****DEALS******/

.deals {
  background-image: url('/root/Images/tokio.jpg');
}

/*****ABOUT******/

.about {
  background-image: url('/root/Images/londres.jpg');
}

/*****CONTACTO******/

.cont {
  background-image: url('/root/Images/landscape.jpg');
}

.form-container {
  max-width: 80%;
  margin: auto;
  padding-top: 3rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-top: 15px;
  color: var(--azul-gris-oscuro);
}

input {
  width: 100%;
  border: 1px solid var(--azul-gris);
  border-radius: 4px;
  padding: 5px;
  margin-top: 7px;
}

.form-container h2 {
  color: var(--azul-gris);
  text-align: center;
  margin-bottom: 3rem;
}

.sbm-btn {
  width: auto;
  display: inline-block;
  margin-top: 30px;
  background-color: var(--rosa-oscuro);
  color: var(--azul-gris-oscuro);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  padding: 10px 50px;
}

@media (min-width: 767px) {

  .form-container {
    width: 60%;
  }
  .div-nombre-com{
    display: flex;
    gap: 20px;
  }

  .div-nombre, .div-apellido {
    flex: 1;
  }
}

@media (min-width: 1200px){
  .form-container {
    width: 50%;
  }
}
